@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marck Script', cursive;
}

body {
    background: var(--main-color);
    color: #000;
}

a {
    text-decoration: none;
    text-align: center;
    opacity: 0.7;
    transition: 0.3s;
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: .625rem;
    color: #000;
    background: #fff;
}

a:hover {
    opacity: 1;
}